*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}
header { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image/africa.jpeg);
    height: 100vh;
    background-size: cover ;
    background-position: center;
    } 
.logo a{
    color: white;
    background-color:rgba(241, 239, 240, 0.8); ;
    padding: 10px 20px;
    border-radius: 15px;
    background-size: cover;
    background-position: center ;
    position: absolute;
    top: 40 px ;
    left: 30 pix ;
    text-transform: uppercase;
    text-decoration: none;
    font-weight:900 ;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.6); /* lisibilité sur fond image */
    background: transparent; /*fond transparent */
}
.logo a:hover {
    color: rgb(224, 217, 221);
    text-shadow: none;
}
.logo span{
    color : rgb(74, 208, 212);
    font-weight: bold;
    font: size 2rem; 
}
ul{
    list-style:none;
    float: right;
    display:flex;
    margin-top: 20px;    
}
ul li a{ 
    text-decoration: none;
    color : rgba(255, 255, 255);
    padding: 10px 20px;
    text-transform: uppercase;
    border:1px solid white ;
    margin : 10px ;
}
ul li a:hover{
    background: white  ; 
    color: black; 
}
ul li.active a{
    background-color: aliceblue;
    color: black;
}
.principale{
    max-width: 114rem ;
    margin: 0;

}
.titre {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width:100%;

}
.titre h1{
   white-space: nowrap;/* empêche le texte de passer à la ligne */
    color:black;
    font-size: 50px;
}
.bouton {
    position:absolute;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
}
.bouton a{
    color: white ;
    text-decoration: none;
    border: 1px solid auto;
    padding: 10px 20px ;
}
.btn{
    transition: 00.7s ease;
}
.btn:hover{
    background-color: white  ;
    color: palevioletred;
}
